@{
    ViewData["Title"] = "Home Page";
}

@model RandomPasscode

<div class="text-center">
    <h1 class="display-4">Random passcode (passcode #@Model.Count)</h1>
    <form action="">
        <input type="text" value="@Model.Passcode">
        <input type="submit" value="Generate">
    </form>
</div>
